@import "src/scss/_colours";

.error {
  display: flex;
  justify-content: center;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50%;
  padding: 20px;
  border: solid 1px $border;
  border-radius: 8px;
}

.error-content > p {
  color: $light;
}