@import "src/scss/_colours";

.repositories {
  margin: 40px 20px;
  display: flex;
  justify-content: center;
}

.table {
  width: 1012px;
}

.table-header {
  padding: 16px;
  border-radius: 8px 8px 0 0;
  background-color: $subtle;
  border: solid 1px $border;
  border-bottom: 0;
}

.table-body {
  border: solid 1px $border;
  border-radius: 0 0 8px 8px;
}

.subnav-button {
  display: inline-block;
  align-items: center;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 600;
  color: $white;
  border-radius: 6px;
  line-height: 20px;
  border: solid 1px $border;

  &:hover {
    text-decoration: none;
  }

  &:first-of-type {
    border-radius: 6px 0 0 6px;
  }

  &:last-of-type {
    border-radius: 0 6px 6px 0;
  }
}

.subnav-active {
  background-color: $accent-emphasis;
  border: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-item {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-bottom: solid 1px $border;

  &:last-of-type {
    border-bottom: 0;
  }
}

.repo-link {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.repo-link-content {
  margin-left: 5px;
}

.repo-link-username {
  font-weight: 400;
}

.repo-description {
  margin: 5px 0;
  color: $light;
  font-size: 14px;
}

.repo-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
}

.repo-meta > * {
  font-size: 12px !important;
  margin-right: 20px;
}

.repo-stargazers-link,
.repo-fork-link {
  display: flex;
  align-items: center;
  color: $light !important;
}

.repo-built-by {
  display: flex;
  align-items: center;
  color: $light;
}

.built-by-list {
  display: flex;
  margin-left: 5px;
}

.built-by-avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;

  & > img {
    width: 100%;
    height: auto;
  }
}

.repo-stars-since {
  margin-right: 0;
}