@import "src/scss/_colours";

.table {
  width: 1012px;
}

.table-header {
  padding: 16px;
  border-radius: 8px 8px 0 0;
  background-color: $subtle;
  border: solid 1px $border;
  border-bottom: 0;
}

.table-body {
  border: solid 1px $border;
  border-radius: 0 0 8px 8px;
}

.subnav-button {
  display: inline-block;
  align-items: center;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 600;
  color: $white;
  border-radius: 6px;
  line-height: 20px;
  border: solid 1px $border;

  &:hover {
    text-decoration: none;
  }

  &:first-of-type {
    border-radius: 6px 0 0 6px;
  }

  &:last-of-type {
    border-radius: 0 6px 6px 0;
  }
}

.subnav-active {
  background-color: $accent-emphasis;
  border: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}